.signin-container {
    background-color: #fff;
    width: 400px;
    padding: 30px 2em;
    margin: 5em 1em 1em 1em;
    border-radius: 0.25em;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}

.form-group input {
    margin: 0;
    border: 2px solid lightgray;
    outline: none;
    border-radius: 0.25em;
    height: 2em;
    font-size: 1em;
    background-color: lightgray;
    padding: 10px;
}

.form-group input:focus {
    border: 2px solid blue;
}

.form-group label {
    text-align: left;
    padding-bottom: 10px;
}

fieldset {
    border: none;
    padding: 0;
}

.signin-container > h2 {
    font-size: 3rem;
}

.link {
    border: none;
    color: black;
    font-weight: bold;
}

.sign-in, .register {
    width: 100%;
    line-height: 2em;
    font-size: 1em;
    margin: 0;
}

.register-cta {
    margin-top: 1.5em;
}

.register-cta p {
    display: inline;
}

.register-cta .btn {
    margin: 0;
    padding: 0.25em;
}

.notification {
    text-align: left;
    padding: 1em;
    border-radius: 0.25em;
    margin: 1em auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notification p {
    margin: 0 1em;
}

.error {
    background: #fde9e4;
    border: solid 1px #D5390D;
    display: none;
}

.info {
    background-color: #d0e8f5;
    border: solid 1px #173DB9;
}